* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/img/img-cadastro-login/background-login-cadastro.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-cadastro {
  width: 550px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 20px 40px;
}

.wrapper-cadastro h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
  background-image: url(/img/img-cadastro-login/cadastro.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 51px;
}

.wrapper-cadastro .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  font-weight: lighter;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper-cadastro .btn {
  width: 350px;
  margin-left: 55px;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 18px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: all 0.3s ease;
}

.wrapper-cadastro .btn:hover {
  background: #f8f8f8; 
  box-shadow: 0 0 28px rgba(0, 0, 0, .2); 
  
}

.wrapper-cadastro .btn:active {
  background: #a7a7a7; 
  box-shadow: 0 0 12px rgba(0, 0, 0, .2); 
  transform: translateY(1px); 
}

.wrapper-cadastro .login-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 25px;
}

.login-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 4px
}

.login-link p a:hover {
  text-decoration: underline;
}

.back-home {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
}

.back-home:hover {
  text-decoration: underline;
}