.container {
    background-color: rgb(34, 1, 1);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .movie-card {
    background-color: #333;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .poster {
    background-color: grey;
    height: 300px;
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .movies {
      flex-direction: column;
    }
    
    .movie-card {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .movies {
      flex-direction: row;
    }
    
    .movie-card {
      width: 45%;
    }
  }
  
  @media only screen and (min-width: 769px) {
    .movies {
      flex-direction: row;
    }
    
    .movie-card {
      width: 30%;
    }
  }
  