.container {
    background-color: #4a0404;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 2em;
  }
  
  h2 {
    position: absolute;
    top: 60px;
    color: white;
    font-size: 1.5em;
  }
  
  .movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px;
    gap: 25px;
  }

  .movie-row {
    display: flex;
    justify-content: space-between;
  }
  
  .movie-card {
    background-color: #333;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .poster {
    width: 175px;
    height: 250px;
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .movies {
      flex-direction: column;
    }
    
    .movie-card {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .movies {
      flex-direction: row;
    }
    
    .movie-card {
      width: 45%;
    }
  }
  
  @media only screen and (min-width: 769px) {
    .movies {
      flex-direction: row;
    }
    
    .movie-card {
      width: 30%;
    }
  }
  