* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  background-color: #4a0404;
}

.bomboniere-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  position: relative;
}

.logo {
  width: 5.625rem;
  height: auto;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

.bomboniere-title {
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 0.0625rem 0 #ffffff, 0 0.0625rem #ffffff, 0.0625rem 0 #ffffff, 0 0.0625rem #ffffff;
  margin-bottom: 1.25rem;
  text-align: center;
}

.shelf {
  width: 100%;
  max-width: 75rem;
  background-color: #2d2d2d;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  margin-top: 1.25rem;
}

.snack-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.snack-column {
  width: 48%;
}

.snack-subcategory {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 0.0625rem 0 #ffffff, 0 0.0625rem #ffffff, 0.0625rem 0 #ffffff, 0 0.0625rem #ffffff;
  margin-bottom: 3.75rem;
  text-align: center;
}

.snack-items {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.snack-item {
  text-align: center;
  margin-bottom: 2.5rem;
}

.snack-image {
  width: 5.625rem;
  height: auto;
  margin-bottom: 0.625rem;
}

.snack-name {
  font-size: 1.375rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.add-to-cart-button {
  padding: 0.625rem 1.25rem;
  background-color: #038ab3;
  color: #fff;
  border: none;
  border-radius: 0.9375rem;
  cursor: pointer;
}

@media (max-width: 48rem) {
  .snack-columns {
    flex-direction: column;
  }

  .snack-column {
    width: 100%;
    margin-bottom: 1.25rem;
  }
}
